In [30]:
import pandas as pd
grab_rest = pd.read_csv('C:/Users/Ros/Desktop/JDC/Grab_SG_Restaurants.csv')
grab_rest.head()

,id_source,name,address,country,cuisine,currency,delivery_cost,lat,lon,opening_hours,image_url,radius,rating,reviews_nr,delivery_options,promo,loc_type,delivery_by,delivery_time
0,SGDD01085,Texas Chicken,Texas Chicken - VivoCity,Singapore,"[""Western"", ""Fast Food"", ""Halal"", ""Chicken"", ""...",SGD,570.0,1.264792,103.822103,"{""open"": true, ""displayedHours"": ""10:30-21:30""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,3.8,1591.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,43.0
1,4-CYTDLPUJEP53N6,Subway,Subway - Vivocity,Singapore,"[""Healthy"", ""Sandwiches"", ""Fast Food"", ""Halal""...",SGD,570.0,1.264741,103.822072,"{""open"": true, ""displayedHours"": ""12:00-19:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,3000,4.2,197.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,42.0
2,SGDD05605,LiHO Tea,LiHO Tea - Vivo City,Singapore,"[""Same Prices In-Store"", ""Beverages"", ""Local"",...",SGD,560.0,1.264309,103.821369,"{""open"": true, ""displayedHours"": ""11:30-20:45""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.5,353.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,41.0
3,SGDD07548,Wingstop,Wingstop - VivoCity,Singapore,"[""Halal"", ""Chicken"", ""Fast Food"", ""Burger"", ""W...",SGD,560.0,1.263527,103.821712,"{""open"": true, ""displayedHours"": ""11:00-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.4,1391.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,45.0
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,Le Shrimp Ramen - Vivocity,Singapore,"[""Japanese"", ""Ramen"", ""Noodles"", ""Asian""]",SGD,570.0,1.264810,103.822554,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.6,309.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,44.0

In [33]:
grab_rest.columns

Index(['id_source', 'name', 'address', 'country', 'cuisine', 'currency',
       'delivery_cost', 'lat', 'lon', 'opening_hours', 'image_url', 'radius',
       'rating', 'reviews_nr', 'delivery_options', 'promo', 'loc_type',
       'delivery_by', 'delivery_time'],
      dtype='object')

In [10]:
cuisine_table =grab_rest[['id_source','name', 'cuisine']].drop_duplicates().reset_index(drop=True)

cuisine_table

,id_source,name,cuisine
0,SGDD01085,Texas Chicken,"[""Western"", ""Fast Food"", ""Halal"", ""Chicken"", ""..."
1,4-CYTDLPUJEP53N6,Subway,"[""Healthy"", ""Sandwiches"", ""Fast Food"", ""Halal""..."
2,SGDD05605,LiHO Tea,"[""Same Prices In-Store"", ""Beverages"", ""Local"",..."
3,SGDD07548,Wingstop,"[""Halal"", ""Chicken"", ""Fast Food"", ""Burger"", ""W..."
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,"[""Japanese"", ""Ramen"", ""Noodles"", ""Asian""]"
...,...,...,...
16131,4-CZNFTYKKVA3UN2,Minjiangkueh,"[""Asian"", ""Bakery & Cake"", ""Breakfast & Brunch..."
16132,SGDD01192,The Modern Izakaya by Tatsu,"[""Japanese"", ""Noodles"", ""Grill""]"
16133,SGDD00961,Raj Restaurant,"[""Indian"", ""Dessert"", ""Vegetarian""]"
16134,4-C2AHJVATN7C2RE,Albismi Indian Muslim Food,"[""Indian""]"
16135,4-C2DXFEK2R6KJTJ,Zam Zam Indian Special Food,"[""Indian""]"

In [15]:
cuisine_table =grab_rest[['id_source','name', 'cuisine']]
cuisine_table

,id_source,name,cuisine
0,SGDD01085,Texas Chicken,"[""Western"", ""Fast Food"", ""Halal"", ""Chicken"", ""..."
1,4-CYTDLPUJEP53N6,Subway,"[""Healthy"", ""Sandwiches"", ""Fast Food"", ""Halal""..."
2,SGDD05605,LiHO Tea,"[""Same Prices In-Store"", ""Beverages"", ""Local"",..."
3,SGDD07548,Wingstop,"[""Halal"", ""Chicken"", ""Fast Food"", ""Burger"", ""W..."
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,"[""Japanese"", ""Ramen"", ""Noodles"", ""Asian""]"
...,...,...,...
16131,4-CZNFTYKKVA3UN2,Minjiangkueh,"[""Asian"", ""Bakery & Cake"", ""Breakfast & Brunch..."
16132,SGDD01192,The Modern Izakaya by Tatsu,"[""Japanese"", ""Noodles"", ""Grill""]"
16133,SGDD00961,Raj Restaurant,"[""Indian"", ""Dessert"", ""Vegetarian""]"
16134,4-C2AHJVATN7C2RE,Albismi Indian Muslim Food,"[""Indian""]"
16135,4-C2DXFEK2R6KJTJ,Zam Zam Indian Special Food,"[""Indian""]"

In [37]:
delivery = grab_rest[['id_source','delivery_cost','radius','delivery_options','promo']].drop_duplicates().reset_index(drop=True)
delivery

,id_source,delivery_cost,radius,delivery_options,promo
0,SGDD01085,570.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,570.0,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,560.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,560.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,570.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN
16133,SGDD00961,560.0,3000,DELIVERY_TAKEAWAY_DINEIN,NaN
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [11]:
#Details of delivery_df:(ROSNI)
#id_source,delivery_cost, radius, delivery_options, promo 
delivery = grab_rest[['id_source','delivery_cost','radius','delivery_options','promo']]
delivery

,id_source,delivery_cost,radius,delivery_options,promo
0,SGDD01085,570.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,570.0,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,560.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,560.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,570.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN
16133,SGDD00961,560.0,3000,DELIVERY_TAKEAWAY_DINEIN,NaN
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [12]:
#listing the name of columns in delivery data frame
delivery.columns

Index(['id_source', 'delivery_cost', 'radius', 'delivery_options', 'promo'], dtype='object')

In [13]:
delivery.describe()

       delivery_cost        radius
count   16085.000000  16136.000000
mean      984.926640   6871.493183
std       656.544752   6170.013565
min       199.000000    578.000000
25%       450.000000   4999.000000
50%       680.000000   5000.000000
75%      1610.000000   5000.000000
max     14000.000000  25000.000000

In [17]:
#copying all the contents of the table "delivery" and assigning the name "delivery_1" 
delivery_1=delivery.copy()
#to delivery_1 adding extra column named delivery_cost_sds with value =delivery_cost/100
delivery_1['delivery_cost_sds']=delivery['delivery_cost']/100
delivery_1

,id_source,delivery_cost,radius,delivery_options,promo,delivery_cost_sds
0,SGDD01085,570.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
1,4-CYTDLPUJEP53N6,570.0,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
2,SGDD05605,560.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,5.6
3,SGDD07548,560.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.6
4,4-CY2ZLZLTT2EDJ2,570.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
...,...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN,NaN
16133,SGDD00961,560.0,3000,DELIVERY_TAKEAWAY_DINEIN,NaN,5.6
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,NaN

In [20]:
#selecting only the required columns to make a new df
delivery_df= delivery_1[['id_source','delivery_cost_sds','radius','delivery_options','promo']]
delivery_df

,id_source,delivery_cost_sds,radius,delivery_options,promo
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,NaN
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [27]:
#saving the dataframe delivery_df to computer as a csv file named delivery
delivery_df.to_csv('delivery.csv')

In [36]:
#columns in the main df---'id_source', 'name', 'address', 'country', 'cuisine', 'currency', 
#'delivery_cost', 'lat', 'lon', 'opening_hours', 'image_url', 'radius', 'rating', 
#'reviews_nr', 'delivery_options', 'promo', 'loc_type', 'delivery_by', 'delivery_time'
    
establishment= grab_rest[['id_source','name', 'address','lat','lon','opening_hours','rating','reviews_nr','loc_type']]
establishment

,id_source,name,address,lat,lon,opening_hours,rating,reviews_nr,loc_type
0,SGDD01085,Texas Chicken,Texas Chicken - VivoCity,1.264792,103.822103,"{""open"": true, ""displayedHours"": ""10:30-21:30""...",3.8,1591.0,FOOD
1,4-CYTDLPUJEP53N6,Subway,Subway - Vivocity,1.264741,103.822072,"{""open"": true, ""displayedHours"": ""12:00-19:00""...",4.2,197.0,FOOD
2,SGDD05605,LiHO Tea,LiHO Tea - Vivo City,1.264309,103.821369,"{""open"": true, ""displayedHours"": ""11:30-20:45""...",4.5,353.0,FOOD
3,SGDD07548,Wingstop,Wingstop - VivoCity,1.263527,103.821712,"{""open"": true, ""displayedHours"": ""11:00-21:00""...",4.4,1391.0,FOOD
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,Le Shrimp Ramen - Vivocity,1.264810,103.822554,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",4.6,309.0,FOOD
...,...,...,...,...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,Minjiangkueh,Minjiangkueh - Ang Mo Kio Ave 3,1.370340,103.843225,"{""displayedHours"": ""Closed"", ""sun"": ""Closed"", ...",5.0,2.0,FOOD
16132,SGDD01192,The Modern Izakaya by Tatsu,The Modern Izakaya by Tatsu - Chijmes (#01-18),1.295404,103.851698,"{""displayedHours"": ""Closed"", ""sun"": ""12:00-14:...",NaN,NaN,FOOD
16133,SGDD00961,Raj Restaurant,Raj Restaurant - SOHO @ Farrer,1.310830,103.852873,"{""displayedHours"": ""Closed"", ""sun"": ""11:00-22:...",3.9,72.0,FOOD
16134,4-C2AHJVATN7C2RE,Albismi Indian Muslim Food,Albismi Indian Muslim Food - Woodlands Road,1.396885,103.753440,"{""displayedHours"": ""Closed"", ""sun"": ""09:00-22:...",3.6,19.0,FOOD
16135,4-C2DXFEK2R6KJTJ,Zam Zam Indian Special Food,Zam Zam Indian Special Food - Yishun Industria...,1.441651,103.831330,"{""displayedHours"": ""Closed"", ""sun"": ""Closed"", ...",4.3,37.0,FOOD

In [ ]:
#trying to commit from visual studio code